.what-we-do-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.what-we-do-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 40%;    
    margin-right: 30px;
}

.what-we-do-left > img {
    height: 300px;
    border-radius: 10px;
    position: relative;
}

.what-we-do-right {
    margin: 0 20px;
    flex-basis: 56%;
}

.weekly-meeting-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----------------- media query ----------------- */
@media (max-width: 850px) {
    .hero-text h1 {
        font-size: 40px;
    }

    .what-we-do-container>div {
        margin: 0 30px;
    }
}

@media (max-width: 650px) {
    .hero-text h1 {
        font-size: 30px;
        max-width: 200px;
        margin: auto;
    }

    .hero-text {
        font-size: 14px;
        margin: 15px auto 30px;
    }

    .btn {
        font-size: 12px;
    }
}