.what-we-do-container {
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
}

.team-container {
    margin: 0 30px;
}

.team-container .what-we-do-image{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* ----------------- media query ----------------- */
@media (max-width: 850px) {
    .hero-text h1 {
        font-size: 40px;
    }

    .what-we-do-container>div {
        margin: 0 30px;
    }
}

@media (max-width: 650px) {
    .hero-text h1 {
        font-size: 30px;
        max-width: 200px;
        margin: auto;
    }

    .hero-text {
        font-size: 14px;
        margin: 15px auto 30px;
    }

    .btn {
        font-size: 12px;
    }
}