.resources-container {
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

.card-header {
    width: 200px;
    margin: auto 15px;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    border-radius: 10px;
    color: #676767;
}

.card-header > img {
    width: 65px;
    height: 80px;
    border-radius: 50%;
}