.hero {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../../public/images/img-home.jpg');
    /* background-repeat: no-repeat; */
    background-position: center;
    /* color: #fff; */
}

.hero-text {
    text-align: center;
    max-width: 800px;
}

.hero-text h1 {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.hero-text p {
    font-size: 20px;
    margin: 20px 0;
    color: #fff;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-container {
    /* background: url('../../public/images/img-home.jpg') center center/cover no-repeat; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    justify-content: center;
    z-index: 1;
}

.hero-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
} 

.hero-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.hero--btn {
    margin-top: 32px;
}

.hero--btns .btn {
    margin: 6px;
}

.fa-play-circle {
    margin-left: 4px;
}

/* ----------------- media query ----------------- */
@media (max-width: 850px) {
    .hero-text h1 {
        font-size: 40px;
    }
}

@media (max-width: 650px) {
    .hero-text h1 {
        font-size: 30px;
        max-width: 200px;
        margin: auto;
    }

    .hero-text {
        font-size: 14px;
        margin: 15px auto 30px;
    }

    .btn {
        font-size: 12px;
    }
}


/* @media screen and (max-width: 960px) {
    .hero-container > h1 {
        font-size: 70px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 768px) {
    .hero-container > h1 {
        font-size: 50px;
        margin-top: -100px;
    }

    .hero-container > p {
        font-size: 30px;
    }

    .btn--mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 20%;
    }    
} */